---
import { Image } from 'astro:assets';

---

<div class="p-5 hero">
  <div class="container">
    <div class="row align-items-center text-center ">
      <div class="col-lg-7">
        <h1>کرج‌لاگ</h1>
        <h3>گروه کاربران لینوکس کرج</h3>
        <h5 class="mt-4 mb-4">
          نسخه جدید وب‌سایت به زودی در دسترس خواهد بود
        </h5>
      </div>
      <div class="col-lg-5 pb-5">
        <img alt="karajlug" src="https://upload.wikimedia.org/wikipedia/commons/c/c7/KarajLug.png">
      </div>
    </div>
  </div>
</div>
