---
import logo from '../assets/logo.png';
import bg from '../assets/bg.svg';
---

<div id="container">
	<img id="background" src={bg.src} alt="" fetchpriority="high" />
	<main>
		<section id="hero">
			<a href="https://karajlug.org"
				><img src={logo.src} width="135" height="55" alt="Karaj Lug" /></a
			>
			<p style="margin-top: 15px">
	کرج‌لاگ (Karaj Linux Users Group) از سال ۱۳۸۷ به‌عنوان اجتماع داوطلبانه و مستقلِ دوست‌داران گنو/لینوکس و فرهنگ نرم‌افزارهای آزاد در استان البرز شکل گرفته است. ما هر دو هفته یک‌بار در گردهمایی‌های صمیمی دور هم جمع می‌شویم؛ جایی که تازه‌واردها و حرفه‌ای‌ها شانه‌به‌شانه می‌نشینند، تجربه‌ها را به اشتراک می‌گذارند و از هم می‌آموزند.
<br><br>
گرچه نقطهٔ آغاز‌مان لینوکس است، دایرهٔ گفتگوها محدود نمی‌ماند: از سیستم‌عامل‌های آزاد و امنیت گرفته تا هوش مصنوعی، رایانش ابری و سخت‌افزار متن‌باز، همه در فهرست موضوعات ما هستند. در این مسیر، طی سال‌ها میزبان رویدادهای متنوعی همچون جشن «روز آزادی نرم‌افزار»، کارگاه‌های آموزشی و دورهمی‌های تفریحی بوده‌ایم و در کنار هم روی پروژه‌های آزاد گوناگونی همکاری کرده‌ایم.
<br><br>
کرج‌لاگ به هیچ شرکت، ارگان یا سازمانی وابسته نیست و تمام فعالیت‌هایش را مستقل و غیرانتفاعی پیش می‌بَرد. تنها شرط همراهی، شوق یادگیری و روحیهٔ مشارکت است. برای اطلاع از زمان و مکان نشست بعدی یا دنبال‌کردن رویدادها، کافی است لینک‌های پایین صفحه را ببینید و به خانوادهٔ کرج‌لاگ بپیوندید.
</br></br>
    برای آشنایی بیش‌تر با اهداف و فعالیت‌ها
    <a href="/about">صفحهٔ درباره ما</a> را ببینید.
			</p>
			<p style="margin-top: 25px;">گروه کاربران لینوکس کرج &nbsp; &nbsp; ۱۳۸۷ - ۱۴۰۴</p>
			<section id="links">
				<a class="button" href="https://evand.com/organizations/karajlug">رویدادها</a>
				<a href="https://t.me/karajlug_org" target="_blank" rel="noopener noreferrer">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 496 512" fill="currentColor">
						<path d="M248,8C111,8,0,119,0,256S111,504,248,504,496,393,496,256,385,8,248,8ZM362.7,179.1,311.2,398.5c-4.1,17-14.9,21.2-30.2,13.2L217,360.7l-29.5,28.4c-3.2,3.2-5.9,5.9-12,5.9l4.3-61.5L327.3,210.2c5.2-4.3-1.1-6.7-8.1-2.4L152.4,309.7l-59.4-18.6c-16.3-5.1-16.7-16.3,3.4-24.1L345.4,154.3C358.3,149.4,370.1,157.1,362.7,179.1Z"/>
					</svg>
					تلگرام
				</a>
				<a href="https://twitter.com/karajlug" target="_blank" rel="noopener noreferrer">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16" fill="currentColor">
						<path d="M459.4 151.7c.3 4.1.3 8.3.3 12.5 0 128-97.4 275.6-275.6 275.6-54.7 0-105.7-16-148.3-43.6 7.6.9 15.2 1.2 23.1 1.2 45.4 0 87.1-15.5 120.1-41.7-42.4-.8-78.1-28.8-90.4-67.2 5.9.9 11.8 1.4 18 .1-44.5-8.9-77.9-48.1-77.9-95v-1.2c13.1 7.3 28.1 11.7 44.1 12.2-26.1-17.4-43.2-47.1-43.2-80.9 0-17.6 4.7-34 13.1-48.2 47.5 58.3 118.3 96.7 198.2 100.8-1.6-7-2.4-14.3-2.4-21.8 0-52.6 42.9-95.4 95.4-95.4 27.4 0 52.3 11.6 69.7 30.3 21.8-4.2 42.3-12.3 60.8-23.4-7.2 22.5-22.5 41.5-42.4 53.5 19.4-2.3 38-7.5 55.3-15-12.9 19.2-29.3 36.2-48.3 49.7z"/>
					</svg>
					توییتر
				</a>
				<a href="https://github.com/karajlug" target="_blank" rel="noopener noreferrer">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" width="16" height="16" fill="currentColor">
						<path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3 0-5.2-1.6-5.2-3.6s2.3-3.6 5.2-3.6c2.9 0 5.2 1.6 5.2 3.6zm-33.1-6.1c-.7 1.6.8 3.4 3.3 4.1 2.6.7 5.4 0 6.1-1.6.7-1.6-.8-3.4-3.3-4.1-2.6-.7-5.4 0-6.1 1.6zm44.2-1.7c-2.9.8-4.8 2.7-4.3 4.9.5 2.2 3.1 3.4 6 2.6 2.9-.8 4.8-2.7 4.3-4.9-.5-2.1-3.1-3.4-6-2.6zm34.5 1.5c-1.1 2 1 4.3 4.6 5.1 3.5.8 7.3-.3 8.3-2.3 1.1-2-1-4.3-4.6-5.1-3.6-.8-7.3.3-8.3 2.3zM244 8C109.5 8 0 117.5 0 252c0 108.9 70.7 201.3 168.8 234.1 12.3 2.3 16.8-5.4 16.8-11.9 0-5.9-.2-25.5-.3-46.2-68.7 14.9-83.2-33.1-83.2-33.1-11.2-28.4-27.5-36-27.5-36-22.5-15.4 1.7-15.1 1.7-15.1 24.9 1.7 38.1 25.6 38.1 25.6 22.1 38.2 58.1 27.2 72.3 20.8 2.2-16.1 8.7-27.2 15.8-33.5-54.8-6.1-112.4-27.4-112.4-121.8 0-26.9 9.6-49 25.4-66.3-2.6-6.2-11-31.1 2.4-64.9 0 0 20.7-6.6 67.7 25.3 19.7-5.4 40.8-8 61.7-8s42 2.7 61.7 8c47-31.9 67.6-25.3 67.6-25.3 13.5 33.9 5.1 58.7 2.5 64.9 15.8 17.2 25.3 39.3 25.3 66.3 0 94.6-57.7 115.6-112.6 121.6 8.9 7.7 16.8 22.9 16.8 46.1 0 33.3-.3 60.2-.3 68.3 0 6.6 4.4 14.3 16.9 11.9C425.2 453.3 496 360.9 496 252 496 117.5 386.5 8 252 8z"/>
					</svg>
					گیت‌هاب
				</a>
				<a href="https://instagram.com/karajlug" target="_blank" rel="noopener noreferrer">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16px" height="16px" fill="currentColor">
					<path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"/>
					</svg>
					اینستاگرام
				</a>
			</section>
		</section>
	</main>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: Vazir;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		/* justify-content: center; */
		padding: 25px 75px;
		max-width: 1000px
	}

	#links {
		display: flex;
		gap: 16px;
		margin-top: 25px;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a svg {
		height: 1em;
		margin-left: 8px;
	}

	#links a.button {
		color: white;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	p {
		color: #111827;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
		text-align: justify;
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}
	}
</style>
