<!doctype html>
<html lang="en" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>کرج‌لاگ</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	@font-face {
	font-family: 'Vazir';
	src: url("../assets/Vazirmatn-Bold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
